/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.row-eq-height {
    display: flex;
    flex-wrap: wrap;
}


.listcontent .panel-body {
  margin: 0;
  padding: 0;
}

.content-add .panel-heading {
  margin: 0;
  padding: 0;
}

.content-add .panel-body {
  margin: 0 auto 10px auto;
  padding: 0;
}

@media (min-width: 0) {
.fixed {
    position: fixed;
    top: 0;
    width: calc(100% - 30px);
    margin: 0 auto;
    z-index: 10000;
}
}

@media (min-width: 768px) {
.fixed {
    position: fixed;
    top: 0;
    width: 720px;  /*750-30*/
    margin: 0 auto;
    z-index: 10000;
}
}

@media (min-width: 992px) {
.fixed {
    position: fixed;
    top: 0;
    width: 940px; /*970-30*/
    margin: 0 auto;    
    z-index: 10000;
}
}

@media (min-width: 1200px) {
.fixed {
    position: fixed;
    top: 0;
    width: 1140px; /*1170-30*/
    margin: 0 auto;    
    z-index: 10000;
}
}








@media only screen and (min-width : 768px) {
    /* デスクトップ表示ではホバー操作でドロップダウンを表示 */
    .navbar-nav .dropdown:hover .dropdown-menu {
        display: block;
    }
}

/* navbar collapse for wide display (bootstrap) */
@media (min-width: 0) {
    #fixedBox .navbar-header {
        float: none;
    }
    #fixedBox .navbar-toggle {
        display: block;
        float: left;
        margin-left: 15px;
    }
    #fixedBox .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    #fixedBox .navbar-collapse.collapse {
        display: none!important;
    }
    #fixedBox .navbar-nav {
        float: none!important;
        margin: 7.5px -15px;
    }
    #fixedBox .navbar-nav>li {
        float: none;
    }
    #fixedBox .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    #fixedBox .navbar-text {
        float: none;
        margin: 15px 0;
    }
    #fixedBox .navbar-collapse.collapse.in {
        display: block!important;
    }
    #fixedBox .collapsing {
        overflow: hidden!important;
    }
}


#list-outline {
    border: 1px solid;
    border-color: #dddddd;
    border-radius: 5px;
}



/* slicker */
#main-gallery{
  margin-bottom:30px;
  background:#eee;
}
 
#main-gallery .gallery-cell {
  width: 100%;
}
 

.list-group-item {
  word-wrap: break-word;
}

